
    .page-content {
        transform: scale(0.75);
    }
    .mdl-button {
        background-color: rgb(48, 48, 48);
        color: white;
        margin-left: 340px;
        margin-top: -130px;
    }
    .mdl-layout__content {
        background-color: rgb(255, 255, 255);
    }
    .mdl-layout__header {
        display: block;
        background-color: rgb(48, 48, 48);
    }
    .mdl-layout__drawer-button {
        background-color: rgb(48, 48, 48);
        color: white;
    }
    .mdl-layout__drawer {
        background-color: rgb(150, 150, 150);
    }
    .header_einnahmen {
        margin-top: 40px;
        font-family: "Roboto";
        font-size: x-large;
        color: rgb(48, 48, 48);
    }
    .margin_top_header_einnahmen {
        position: absolute;
        margin-top: 40px;
    }
    