
    .page-content {
        transform: scale(0.75);
    }
    .tabs_background {
        background-color: rgb(48, 48, 48);
    }
    .mdl-tabs__tab-bar  {
        justify-content: flex-start;
      }
    .mdl_list_primary_alignment {
        display         : flex;
        justify-content : left;
        align-items     : left;
    }
    .mdl_list_secondary_alignment {
        display         : flex;
        justify-content : center;
        align-items     : center;
    }
    .mdl-list__item {
        box-sizing: 50px;
    }
    .mdl-button {
        background-color: rgb(48, 48, 48);
        color: white;
        margin-left: 340px;
        margin-top: -130px;
    }
    .mdl-layout__content {
        background-color: rgb(255, 255, 255);
    }
    .mdl-layout__header {
        display: block;
        background-color: rgb(48, 48, 48);
    }
    .mdl-layout__drawer-button {
        background-color: rgb(48, 48, 48);
        color: white;
    }
    .mdl-layout__drawer {
        background-color: rgb(150, 150, 150);
    }
    .header_einnahmen {
        margin-top: 40px;
        font-family: "Roboto";
        font-size: x-large;
        color: rgb(48, 48, 48);
    }
    .header_ausgaben {
        margin-top: 40px;
        font-family: "Roboto";
        font-size: x-large;
        color: rgb(48, 48, 48);
    }
    .margin_top_header_einnahmen {
        position: absolute;
        margin-top: 40px;
    }
    .margin_top_header_ausgaben {
        position: absolute;
        margin-top: 40px;
    }
    .display_income_layout {
        position: absolute;
        margin-left: 180px;
        margin-top: -40px;
        width: fit-content;
        color: black;
        font-size: x-large;
    }
    .display_saldo_layout {
        position: absolute;
        margin-top: 830px;
        margin-left: 270px;
        width: fit-content;
    }
    .header_saldo {
        position: absolute;
        margin-top: 850px;
        font-size: xx-large;
        font-family: "Roboto";
        color: rgb(48, 48, 48);
    }